<fieldset 
    layout="column">
    <legend translate>Settings</legend>
    <wb-ui-setting-on-off-switch 
		title="Autoplay?" 
		icon="play_circle_outline" 
		ng-model="ctrl.autoplay"
		ng-change="ctrl.autoplayChanged(ctrl.autoplay)">
   </wb-ui-setting-on-off-switch>

   <wb-ui-setting-number 
		ng-init="ctrl.autoplayTime = ctrl.autoplayTime || 1000"
		ng-show="ctrl.autoplay"
		title="Time (millisecond)" 
		icon="schedule" 
		ng-model="ctrl.autoplayTime"
		ng-change="ctrl.autoplayTimeChanged(ctrl.autoplayTime)">
    </wb-ui-setting-number>
</fieldset>
    
<div 
	layout="row">
	<md-button 
	    flex="10" 
	    class="md-icon-button" 
	    ng-click="ctrl.addSlide()"
	    aria-label="Add new slide">
	    <wb-icon>add</wb-icon>
	</md-button>
</div>

    <!-- SECTION: Settings for Slides -->
 <fieldset 
     ng-repeat="slide in ctrl.slides" 
     layout="column">
     <legend><span translate>Slide</span>#{{$index +1}}</legend>
     <wb-ui-setting-image
         ng-model="slide.image"
         ng-change="ctrl.slidesChanged()"
         title="Image" 
         aria-label="Image">
     </wb-ui-setting-image>
     <md-input-container
         class="md-icon-float md-block">
         <textarea 
             ng-model="slide.caption" 
             ng-change="ctrl.slidesChanged()"
             ng-model-options="{debounce: 200}"
             type="text" 
             aria-label="Caption"></textarea>
     </md-input-container>
     
	<div
		layout="row">
		<span flex></span>
		<md-button 
		    flex="10" 
		    class="md-icon-button" 
		    ng-click="ctrl.removeSlide($index)"
		    aria-label="Remove slide">
		    <wb-icon>delete</wb-icon>
		</md-button>
	</div>
</fieldset>
