<div
    class="carousel-navigator-slideshow-container">
    <div 
    	layout="row" 
        ng-style="{'padding-left' : editable ? '30px' : '10px'}"
        style='padding-right:16px;'>
        <img
            class="carousel-navigator-thumnail"
            data-ng-repeat="slide in wbModel.slides"
            data-ng-src="{{slide.image}}"
            data-ng-click="ctrl.showSlide($index)">
        <md-button
            ng-show="ctrl.editable"
            class="carousel-navigator-thumnail"
            ng-click="ctrl.addSlide()">
            <wb-icon>add</wb-icon>
        </md-button>
        
        <span flex></span>
        <div layout='row' flex='10' layout-align='end center'>
            <md-button
                ng-show='ctrl.editable'
                class="md-icon-button"
                ng-click="ctrl.removeSlide(wbModel.currentIndex)">
                <wb-icon>delete</wb-icon>
            </md-button>
        </div>
    </div>

    <div 
        class="carousel-navigator-fade">
        <img 
            class="carousel-navigator-img" 
            src="{{ctrl.slide.image}}" 
            alt="{{ctrl.slide.image}}">
        <div
            class="carousel-navigator-text" 
            ng-hide="ctrl.isSelected()"
            ng-bind-html="ctrl.slide.caption | wbunsafe">
        </div>
	    <a 
	    	class="carousel-simple-prev" 
	    	data-ng-click="ctrl.plusSlides(-1)">&#10094;</a> 
	    <a 
	    	class="carousel-simple-next" 
	    	data-ng-click="ctrl.plusSlides(1)">&#10095;</a>
    </div>
</div>