<div 
	class="carousel-simple-slideshow-container">
    <div 
    	class="carousel-simple-fade">
        <img 
        	class="carousel-simple-img" 
            src="{{ctrl.slide.image}}" 
            alt="{{ctrl.slide.image}}">
        <div 
        	class="carousel-simple-text" 
            ng-hide="ctrl.isSelected()"
            ng-bind-html="ctrl.slide.caption | wbunsafe">
        </div>
        <div class="carousel-simple-dots">
            <span 
            	data-ng-repeat="slide in ctrl.slides" 
                data-ng-class="{'carousel-simple-dot': true, 'carousel-simple-active': wbModel.currentIndex === $index }" 
                data-ng-click="ctrl.showSlide($index)">
            </span> 
        </div>
    </div>
    <a 
    	class="carousel-simple-prev" 
    	data-ng-click="ctrl.plusSlides(-1)">&#10094;</a> 
    <a 
    	class="carousel-simple-next" 
    	data-ng-click="ctrl.plusSlides(1)">&#10095;</a>
</div>